ul {
    list-style-type: none;
}

.mainList .mainlist__item {
    float: left;
}

a {
    display: block;
    width: 100px;
    padding: 5px;
    margin: 0 10px;
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
    color: white;
}

ul > li > ul > li > a {
    background-color: green;
}

ul > li > ul > li> ul > li > a {
    background-color: blue;
}

