
.test {
    color: lightsalmon ;
    display: flex;
    justify-content: center;

}

.test > form {
    border: 5px solid #0500b8;
    padding: 10px 20px;
}

.test > form > span {
    font-size: xx-large;
}

.div2 {
    color: blueviolet;
    display: flex;
    justify-content: center;
}

.test, .div2 {
    display: flex;
    justify-content: center;
}

.loremText {
    font-size: medium;
    transition: font-size 2s;
}

.loremText:hover {
    font-size: xx-large;
}

.task1 p:first-child {
    color: red;
}

.task1 p:only-child {
    color: #fff;
}

.task1 div:only-of-type {
    background-color: blue;
    font-size: initial;
}

.task1:last-child {
    color: blue;
}

.task2 p::selection {
    color: orange;
    background-color: black;
}

.atext {
    width: 25%;
    font-size: 3rem;
    background-color: hsla(111, 88%, 41%, 0.4);
}

.atext p {
    font-size: 0.5em;
    font-weight: 550;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}