ul {
    list-style-type: none;
    width: 300px;
}

li {
    border: 1px solid black;
}

.lvl2 > li {
    background-color: red;
    text-align: right;
    width: 298px;
    display: none;
}

.dropdown:hover {
    li:first-child {
    display: block;
    position: absolute;
    top: 3.6rem;
    left: 48px;
    }
    li:last-child {
        display: block;
        position: absolute;
        top: 4.6rem;
        left: 48px;
        }
}
